{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

        <div class="container">
            <h2>Last Property</h2>
            <div class="row flex">
                {% for property in properties %}
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('property_show', {id: property.id}) }}">{{ property.title }}</a>
                                </h5>
                                <p class="card-text">{{ property.city }} ({{ property.adress }})</p>
                                <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{ property.formattedPrice }} €</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No Property to display</p>
                {% endfor %}
            </div>
        </div>

    <a href="{{ path('property_new') }}">Create new</a>
{% endblock %}
